.header {
    font-family: "Raleway";
	height: 200px;
	background-color: #283B47;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.header__catchPhrase {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

