.productDescriptionSection {
	/* background-color: $background-dark-secondary; */
	padding: 25px 0px;

}

.productDescriptionSection__title
{
	text-align: center;
	color: $text-primary;
	font-size: 33px;
	font-weight: 900;
	padding: 0px 10px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 20px;
}

.productDescriptionSection__title--blue {
	color: #44C7F4;
}