.section {
	background-color: $background-dark-secondary;
	height: 50vh;
}
.section--light{
	background-color: $background-dark-primary;
}
.section__title
{
	text-align: center;
	color: $title-primary;
	font-size: 20px;
	margin-top: 10px;
	font-family: 'Cinzel';
}