.waterproofSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 15px;
	margin-top: -20px;
	background-color: #44C7F4;
}

.waterproofSection__swimmerIcon {
	opacity: 0;
	width: 150px;
	fill: white;
}

.waterproofSection__catchingPhrase {
	opacity: 0;
	color: white;
	text-align: center;
	font-size: 33px;
	font-weight: 900;
	padding: 0px 10px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 80px;
}

.waterproofSection__watchPicture {
	opacity: 0;
	width: 60%;
	max-width: 250px;
	height: auto;
	margin-bottom: 50px;
	border-left: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.5);
}

.waterproofSection__description {
	opacity: 0;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	padding: 0px 25px;
	text-align: center;
	margin-bottom: 50px;
	width: 70%;
	line-height: 1.4;
}

.waterproofSection__guarantee {
	color: white;
	text-align: center;
	font-size: 38px;
	font-weight: 200;
	padding: 0px 25px;
	line-height: 1.4;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 50px;
}

.waterproofSection__guarantee--important {
	font-weight: bold;
}

.waterproofSection__guarantee--bigger {
	font-size: 65px;
	line-height: 1.15;
}