* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header {
  background: green;
  nav {
    display: flex;
    justify-content: center;
    img {
      height: 50px;
      width: auto;
    }
  }
}